body {
  background-color: skyblue;
}
.cloud-div {
  text-align: center;
}
.bird-div :first-child {
  margin-left: 800px;
}
.bird-div > img {
  width: 50px;
}

.plane-div > img {
  width: 400px;
  position: absolute;
  left: -600px;
  top: -100px;
}
